.header-image {
    display: flex;
    height: 180px;
    background-image: url("../assets/images/head-banner2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.header-text {
    text-align: center;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

