.search-container {
    form {
        text-align: end;

        input {
            margin: 0px;
            padding: 8px;
            border-radius: 25px;
            width: 75%;
            border: 1px solid #5ea7b9;
        }
    }

}